*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/models
/aars/build
/playauto/build
/youtube-playauto-android/build
/carfu-resolver-service/build
.env
/checkouts
.kotlin

# Fastlane
fastlane/report.xml
fastlane/README.md
fastlane_config.txt
