<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Package visibility for YouTube discovery on API 30+. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.youtube.tv" />
        <package android:name="com.vanced.android.youtube" />
        <package android:name="app.revanced.android.youtube" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vnd.youtube" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/ic_media_play"
        android:label="@string/harness_app_name"
        android:theme="@style/YouTubePlayAutoHarnessTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".YouTubePlayAutoHarnessActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
