<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.youtube.tv" />
        <package android:name="com.vanced.android.youtube" />
        <package android:name="app.revanced.android.youtube" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vnd.youtube" />
        </intent>
    </queries>
</manifest>
